* {
    margin: 0;
    padding: 0;
}

.capy-gallery img {
    width: 500px;
    height: 500px;
}

.capy-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}